.contact{
    display: flex;
    justify-content: center;
     margin-top: 7%;
  
  }
  
  .contactform{
  width: 30%;
  color: white;
  }
  
  .contactinfo{
  width: 30%;
  color: white;
  margin-right: 10%;
  height: 500px;
  }
  
  
  .contact input[type=text], select, textarea {
    width: 100%; 
    padding: 12px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    resize: vertical ;
    margin: 6px 0 16px 0;
  }
  
  
  
  
  .contact input[type=submit] {
    background-color:  rgb(112, 148, 210);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .contact input[type=placeholder]{
    color: white;
  }
  
  .contact input[type=submit]:hover {
    background-color: white;
    color:  rgb(112, 148, 210);
  }