.userlogin{
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 8%;
  }
  
  .signin{
   width: 25%;
   background-color: white;
   height:600px;
   border-radius: 3%;
   
  }
  .signin h1{
    margin-bottom: 15%;
  }
  
  
  .signup{
  width: 25%;
  background-color: rgb(112, 148, 210);
  height: 600px;
  border-radius: 3%;
  }
  
  .form{
    margin-top: 5%;
  }
  
  .email{
    border: none;
  }
  .password{
    border: none;
  }
  
  input{
    background-color: rgba(49, 48, 48, 0.088);
    border: none;
    width: 70%;
    padding: 3% 0 3% 3%;
  }
  .btnform{
    margin-top: 5%;
    border-radius: 11%;
    font-weight: bolder;
    border: none;
    color: white;
    width: 35%;
    padding: 3% 3%;
    background-color:  rgb(112, 148, 210);
    margin-bottom: 5%;
  
  }
  
  .signup{
  display: inline-block;
  
  
  }
  
  .signup1{
  color: white;
  font-size: 30px;
  margin-top: 20%;
  }
  .signup2{
    font-size: 18px;
    color: white;
    font-weight: 300;
  }
  
  .btnsignup{
    margin-top: 5%;
    border-radius: 11%;
    font-weight: bolder;
    border: none;
    color:  rgb(112, 148, 210);
    width: 35%;
    padding: 3% 3%;
    background-color:  rgb(255, 255, 255);
    margin-bottom: 5%;
  }


  @media (max-width: 480px) {
    .userlogin {
      flex-direction: column;
    }

    .signin,
    .signup {
      flex-basis: 100%;
    }
  }

  /* Responsive styles for screen size >= 481px and <= 768px */
  @media (min-width: 481px) and (max-width: 768px) {
    .userlogin {
      flex-direction: column;
    }

    .signin,
    .signup {
      flex-basis: 100%;
    }

    h1 {
      font-size: 24px;
    }

    .btnsignup {
      padding: 10px 20px;
      font-size: 16px;
    }
  }

  /* Responsive styles for screen size >= 769px and <= 1024px */
  @media (min-width: 769px) and (max-width: 1024px) {
    .userlogin {
      flex-wrap: wrap;
    }

    .signin,
    .signup {
      flex-basis: 48%;
    }
  }

  /* Responsive styles for screen size >= 1025px */
  @media (min-width: 1025px) {
    .userlogin {
      max-width: 1200px;
      margin: 0 auto;
      padding: 40px;
    }

    .signin,
    .signup {
      flex-basis: 40%;
    }

    h1 {
      font-size: 36px;
    }

    .btnsignup {
      padding: 20px 40px;
      font-size: 24px;
    }
  }
